.peliculaTarjeta{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.peliculaImagen{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: azure;
}

@media (max-width: 560px){
    .peliculaImagen{
       width: 90%;
       height: auto;
    }
}